USE [master]
GO
/****** Object:  Database [de8]    Script Date: 23/05/2024 11:32:53 CH ******/
CREATE DATABASE [de8]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'de8', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\de8.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'de8_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\de8_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [de8].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [de8]
GO
/****** Object:  Table [dbo].[tblChitietdondathang]    Script Date: 23/05/2024 11:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChitietdondathang](
	[soddh] [float] NOT NULL,
	[mahang] [nvarchar](20) NOT NULL,
	[soluong] [float] NOT NULL,
	[dongia] [float] NOT NULL,
	[giamgia] [float] NOT NULL,
	[thanhtien] [float] NOT NULL,
 CONSTRAINT [PK_tblChitietdondathang] PRIMARY KEY CLUSTERED 
(
	[soddh] ASC,
	[mahang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblChitiethoadonnhap]    Script Date: 23/05/2024 11:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChitiethoadonnhap](
	[sohdn] [nvarchar](20) NOT NULL,
	[mahang] [nvarchar](20) NOT NULL,
	[soluong] [float] NOT NULL,
	[dongia] [float] NOT NULL,
	[giamgia] [float] NOT NULL,
	[thanhtien] [float] NOT NULL,
 CONSTRAINT [PK_tblChitiethoadonnhap] PRIMARY KEY CLUSTERED 
(
	[sohdn] ASC,
	[mahang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCongviec]    Script Date: 23/05/2024 11:32:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCongviec](
	[macv] [nvarchar](20) NOT NULL,
	[tencv] [nchar](50) NOT NULL,
	[luongthang] [float] NOT NULL,
 CONSTRAINT [PK_tblCongviec] PRIMARY KEY CLUSTERED 
(
	[macv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDMhang]    Script Date: 23/05/2024 11:32:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDMhang](
	[mahang] [nchar](20) NOT NULL,
	[tenhang] [nchar](50) NOT NULL,
	[maloai] [nchar](20) NOT NULL,
	[mahangsx] [nchar](20) NOT NULL,
	[mamau] [nchar](20) NOT NULL,
	[namsx] [int] NOT NULL,
	[maphanh] [nchar](20) NOT NULL,
	[madongco] [nchar](20) NOT NULL,
	[dungtichbinhxang] [float] NOT NULL,
	[manuocsx] [nchar](20) NOT NULL,
	[tinhtrang] [nchar](50) NOT NULL,
	[anh] [image] NOT NULL,
	[soluong] [float] NOT NULL,
	[dongianhap] [float] NOT NULL,
	[dongiaban] [float] NOT NULL,
	[thoigianbaohanh] [float] NOT NULL,
 CONSTRAINT [PK_tblDMhang] PRIMARY KEY CLUSTERED 
(
	[mahang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDondathang]    Script Date: 23/05/2024 11:32:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDondathang](
	[soddh] [float] NOT NULL,
	[manv] [nvarchar](20) NOT NULL,
	[makhach] [nvarchar](20) NOT NULL,
	[ngaymua] [datetime] NOT NULL,
	[datcoc] [float] NOT NULL,
	[thue] [float] NOT NULL,
	[tongtien] [float] NOT NULL,
 CONSTRAINT [PK_tblDondathang] PRIMARY KEY CLUSTERED 
(
	[soddh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDongco]    Script Date: 23/05/2024 11:32:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDongco](
	[madongco] [nchar](20) NOT NULL,
	[tendongco] [nchar](50) NULL,
 CONSTRAINT [PK_tblDongco] PRIMARY KEY CLUSTERED 
(
	[madongco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHangsx]    Script Date: 23/05/2024 11:32:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHangsx](
	[mahangsx] [nchar](20) NOT NULL,
	[tenhangsx] [nchar](50) NOT NULL,
 CONSTRAINT [PK_tblHangsx] PRIMARY KEY CLUSTERED 
(
	[mahangsx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHoadonnhap]    Script Date: 23/05/2024 11:32:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHoadonnhap](
	[sohdn] [float] NOT NULL,
	[manv] [nvarchar](20) NOT NULL,
	[ngaynhap] [datetime] NOT NULL,
	[mancc] [nvarchar](20) NOT NULL,
	[tongtien] [float] NOT NULL,
 CONSTRAINT [PK_tblHoadonnhap] PRIMARY KEY CLUSTERED 
(
	[sohdn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblKhachhang]    Script Date: 23/05/2024 11:32:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKhachhang](
	[makhach] [nvarchar](20) NOT NULL,
	[tenkhach] [nvarchar](50) NOT NULL,
	[diachi] [nvarchar](50) NOT NULL,
	[dienthoai] [float] NOT NULL,
 CONSTRAINT [PK_tblKhachhang] PRIMARY KEY CLUSTERED 
(
	[makhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMausac]    Script Date: 23/05/2024 11:32:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMausac](
	[mamau] [nchar](20) NOT NULL,
	[tenmau] [nchar](50) NOT NULL,
 CONSTRAINT [PK_tblMausac] PRIMARY KEY CLUSTERED 
(
	[mamau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhacungcap]    Script Date: 23/05/2024 11:32:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhacungcap](
	[mancc] [nvarchar](20) NOT NULL,
	[tenncc] [nvarchar](50) NOT NULL,
	[diachi] [nvarchar](50) NOT NULL,
	[dienthoai] [float] NOT NULL,
 CONSTRAINT [PK_tblNhacungcap] PRIMARY KEY CLUSTERED 
(
	[mancc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhanvien]    Script Date: 23/05/2024 11:32:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhanvien](
	[manv] [nvarchar](20) NOT NULL,
	[tennv] [nvarchar](50) NOT NULL,
	[gioitinh] [nvarchar](10) NOT NULL,
	[ngaysinh] [datetime] NOT NULL,
	[dienthoai] [nvarchar](15) NOT NULL,
	[diachi] [nchar](50) NOT NULL,
	[macv] [nchar](20) NULL,
 CONSTRAINT [PK_tblNhanvien] PRIMARY KEY CLUSTERED 
(
	[manv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNuocsanxuat]    Script Date: 23/05/2024 11:32:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNuocsanxuat](
	[manuocsx] [nchar](20) NOT NULL,
	[tennuocsx] [nchar](50) NOT NULL,
 CONSTRAINT [PK_tblNuocsanxuat] PRIMARY KEY CLUSTERED 
(
	[manuocsx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPhanhxe]    Script Date: 23/05/2024 11:32:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhanhxe](
	[maphanh] [nchar](20) NOT NULL,
	[tenphanh] [nchar](50) NOT NULL,
 CONSTRAINT [PK_tblPhanhxe] PRIMARY KEY CLUSTERED 
(
	[maphanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTheloai]    Script Date: 23/05/2024 11:32:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTheloai](
	[maloai] [nchar](20) NOT NULL,
	[tenloai] [nchar](50) NOT NULL,
 CONSTRAINT [PK_tblTheloai] PRIMARY KEY CLUSTERED 
(
	[maloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTinhtrang]    Script Date: 23/05/2024 11:32:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTinhtrang](
	[matinhtrang] [nchar](20) NOT NULL,
	[tentinhtrang] [nchar](50) NOT NULL,
 CONSTRAINT [PK_tblTinhtrang] PRIMARY KEY CLUSTERED 
(
	[matinhtrang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
